@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Big Shoulders Stencil", sans-serif;
  height: 100%;
}
.container {
  background: linear-gradient(90deg, purple, #4169e1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
}
.logo {
  width: 250px;
  object-fit: contain;
}
h1 {
  color: #333;
  margin-bottom: 20px;
}
p {
  color: #666;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
input[type="email"] {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
}
button {
  background-color: #8a2be2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: black;
}
